body {
  margin: 0px;
  font-family: "Titillium Web", sans-serif;
  //background-color: $smoke;
  background-image: url(/assets/images/portfolios/background2.jpg);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
}
