.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 50px;

  .blog-page {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .border-left {

  }

  .border-right {

  }

  .admin-blog-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      margin-left: 15px;
      cursor: pointer;
    }

    .featured-image {
      margin-bottom: -50px;
    }
  }

  .regular-blog-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;

    a {
      margin-left: 15px;
      cursor: pointer;
    }

    .featured-image {
      margin-bottom: -50px;
    }
  }

  .new-blog-link {
    position: fixed;
    right: 0;
    bottom: 0;

    a {
      font-size: 3em;
      cursor: pointer;
      color: $teal;
      margin-right: 15px;
      margin-bottom: 15px;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $dark-teal;
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin-top: 50px;

    .admin-blog-wrapper {
      border: solid 2px transparent;
      background-color: whitesmoke;
      border-radius: 1.3em;
      box-shadow: 0px 5px 15px rgba(0, 0, 0, .2);
      padding: 10px;
      margin: 15px;
    }

    .featured-image-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 250px;
        height: 250px;
      }
    }

    a {
      text-decoration: none;
      color: $teal;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $dark-teal;
      }
    }

    h1 {
      font-size: 1.5em;
    }
  }
}
