.homepage-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: -1px;

  .filter-links {
    display: flex;
    justify-content: space-around;

    .btn {
      width: 100%;
    }
  }
}
